@CHARSET "UTF-8";
body{
	margin:0px 0px 0px 0px;
}
.content_modifyStore{
	padding-top:50px;
}
.store_info{
	border: 1px solid;
	height: 200px;
	width: 30%;
    margin: 0 auto;
}
.result_title{
	align:left;
	margin:0px 0px 20px 200px;
	opacity:0.9;
}
.input{

}
.file_input{
	padding: 7px;
	font-weight:bold;
}
.file_input label {
    position:relative;
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    overflow:hidden;
    width:100px;
    height:30px;
    background:#777;
    color:#fff;
    text-align:center;
    line-height:30px;
}
.file_input label input {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
}
.file_input input[type=text] {
    width:300px; height:30px;
	border:none;
    border-bottom:2px solid #F38983;

    display:inline-block;

    vertical-align:middle;
    text-align:center;
    line-height:28px;
    font-size:18px;
	font-family:맑은 고딕;
    
	margin-right:0px;
}
.file_input select{
	width: 224px;
	height: 25px;
	border: 1px solid #777;
}
.file_input img{
	width:100px;
	height:100px;
	border:1px solid;
}
