/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.slide_title {						/*사진크기 관련*/
	width: 94%;
	max-width: 960px;
	padding: 0 10px;
	margin: 0 15px 0 15px;
	position: relative;
}

