@CHARSET "UTF-8";
body{
	margin:0px 0px 0px 0px;
	background-color:#F38983;
}
A:link{text-decoration:none;}
A:visited{text-decoration:none;}
A:hover{}

.search_bar{
	padding:90px 0px 10px 2%;
	background-color:#F38983;
	text-align:center;
}
.input_text{
	width:630px; height:55px;
	margin-right:0px;
	opacity:0.5;

	border:none;

	font-size:45px;
	font-family:맑은 고딕;
	font-weight:bold;
	text-transform:uppercase;
}
.option_btn{
	margin-right:0px;
	padding-top:5px;
	opacity:0.5;
}
.enter_btn{
	padding-top:2px;
	margin-left:10px;
	margin-right:10px;
	opacity:0.5;
}

.content{
	width:98%;		height:auto;
	min-height: 573px;
	margin:0px 0px 10px 10px;
	background-color:white;
	float:center;
}
.main_content{
	
}
.store_box{
	width:73%;
	margin:0px 0px 20px 17%;
	padding-top:30px;
	
	font-family:맑은 고딕;
	font-size:15px;
	
}
.store_box_title{
	z-index:100;
	opacity:1;
}
.stores{
	width:95%; height:270px;
	padding:2px 2px 2px 20px;
	background-color:#fafafa;
	border-radius: 30px 0 0 0;
}
.recommend:hover{
	background-color:white;
	opacity:0.6;
}

/* 
.result_content{
	padding:20px 30px 10px 200px;
}
.result_img{
	margin:0px 0px 20px 0px;
}
.result_value{
	padding-left:5px;
	
	font-size:70px;
	font-weight:bold;
	font-family:맑은 고딕;
	color:#DD5050;
}
.result_box{
	margin-bottom:20px;
}
.result_stores{
	width:73%; height:180px;
	padding:8px 2px 2px 20px;
	background-color:#fafafa;
	border-radius: 30px 0 0 0;
}
.result_stores_title{
	z-index:100;
	opacity:1;
}
.request_Btn{
	width:80%; height:25px;
	margin:2px 0px 10px 0px;
	text-align:right;
} */


<!-- hotPlace -->
.HP_content{
	padding: 130px 10% 30px 15%;
	height:auto;
	width:74%;
}
.HP_box{
	height: auto;
	margin: 0px 0px 0px 12%;
	padding-top: 40px;
	font-family: 맑은 고딕;
	font-size: 15px;
	display: inline-block;
}
.HP_title{
	width: 930px; 	height: 50px;
	margin-bottom: 30px;
	padding : 10px 0px 0px 0px;
	text-align: center;
	border:solid 2px #DD5050;
	
	font-size:40px;
	font-family:맑은 고딕;
	color: #DD5050;
	font-weight:bold;
}
.HP_thumbnails{
	width: 950px; 	height: auto;
	padding: 0px 0px 0px 0px;
	margin-bottom: 570px;
}
.HP_stores{
	width: 300px; 	height: 500px;
	float: left;
	margin-right: 10px;
	
	text-align: center;
	border: solid 2px #F38983;
}
.HP_store_name{
	padding-bottom: 5px;
	font-size: 30px;
	font-weight: bold;
	font-family: 맑은 고딕;
	color: white;
	background-color: #F38983;
}
.HP_store_address{
	float:center;
	font-size:14px;
}
.HP_store_pic{
	margin: 10px 0px 10px 0px;
}
.HP_store_starrate{
}
.HP_store_reviewnum{
	margin:10px 10px 5px 0px;
	float:left;
}
.reviewnum_title{
}
.review_num{
	margin-left: 10px;
	font-size:40px;
	font-weight:bold;
	color:#7C7475;
}


<!-- regCenter -->
.RC_content{
	padding: 130px 10% 30px 15%;
	height:auto;
	width:74%;
}
.RC_box{
	height: auto;
	margin: 0px 0px 20px 12%;
	padding-top: 40px;
	font-family: 맑은 고딕;
	font-size: 15px;
	display: inline-block;
}
.RC_title{
	width:930px; 	height:50px;
	margin-bottom: 30px;
	padding : 10px 0px 0px 0px;
	text-align: center;
	border:solid 2px #DD5050;
	
	font-size:40px;
	font-family:맑은 고딕;
	color: #DD5050;
	font-weight:bold;
}
.RC_map_box{
	width:930px;
	margin:30px 0px 50px 0px;
}
.user_reg{
	text-align:right;
	font-family:맑은 고딕;
	font-size:15px;
}
.RC_map{
	width:930px;	height:300px;
	background-color:#DCDCDF;
}
.RC_thumbnails{
	width:950px;	height:600px;
	padding:0px 0px 0px 0px;
}
.RC_stores{
	width: 225px; 	height: 400px;
	margin: 0px 5px 20px 0px;
	float: left;
	text-align: center;
	border: solid 2px #F38983;
}
.RC_store_name{
	padding-bottom: 5px;
	font-size: 25px;
	font-weight: bold;
	font-family: 맑은 고딕;
	color: white;
	background-color: #F38983;
}
.RC_store_address{
	float:center;
	font-size:14px;
}
.RC_store_pic{
	margin: 10px 0px 5px 0px;
}
.RC_store_starrate{
}
.RC_store_reviewnum{
	margin:10px 10px 5px 0px;
	float:left;
}
.RC_review_num {
margin-left: 10px;
font-size: 30px;
font-weight: bold;
color: #7C7475;
}


<!-- resultStore -->
.RS_content{
	padding: 130px 10% 30px 15%;
	height:auto;
	width:74%;
}
.RS_box{
	height: auto;
	margin: 0px 0px 20px 12%;
	padding-top: 40px;
	font-family: 맑은 고딕;
	font-size: 15px;
	display: inline-block;
}
.RS_title{
	width:926px; 	height:50px;
	margin-bottom: 10px;
	padding : 10px 0px 0px 0px;
	text-align: center;
	border:solid 2px #DD5050;
	
	font-size:40px;
	font-family:맑은 고딕;
	color: #DD5050;
	font-weight:bold;
}
.RS_Category{
	width: 890px; 	height: auto;
	padding: 10px 10px 10px 30px;
	margin: 0px 0px 30px 0px;
	background-color: #DCDCDF;
	display: inline-block;
}
.RC_thumbnails{
	width:950px;	height:600px;
	padding:0px 0px 0px 0px;
}
.RC_stores{
	width: 225px; 	height: 400px;
	margin: 0px 5px 20px 0px;
	float: left;
	text-align: center;
	border: solid 2px #F38983;
}
.RC_store_name{
	padding-bottom: 5px;
	font-size: 25px;
	font-weight: bold;
	font-family: 맑은 고딕;
	color: white;
	background-color: #F38983;
}
.RC_store_address{
	float:center;
	font-size:14px;
}
.RC_store_pic{
	margin: 10px 0px 5px 0px;
}
.RC_store_starrate{
}
.RC_store_reviewnum{
	margin:10px 10px 5px 0px;
	float:left;
}
.RC_review_num {
	margin-left: 10px;
	font-size: 30px;
	font-weight: bold;
	color: #7C7475;
}



.small_Category{
	width: 160px;
	margin: 0px 20px 0px 40px;
	text-decoration: none;
	float: left;
}
a {
	color: #7C7475;
}
a:hover {
	color: #F38983;
	font-weight:bold;
}