@CHARSET "UTF-8";
body{
	margin:0px 0px 0px 0px;
	background-color:#F38983;
	
	/* scrollbar-face-color:#FFFFFF; 		스크롤바의 색을 지정
	scrollbar-track-color:#000000; 		배경 부분의 색을 지정
	scrollbar-arrow-color:#FFFFFF; 		화살표 버튼의 색을 지정
	scrollbar-highlight-color:#FFFFFF; 	스크롤바의 왼쪽과 위쪽의 안쪽 색을 설정
	scrollbar-shadow-color:#FFFFFF; 	스크롤바의 오른쪽과 밑에 들어가는 안쪽 색 지정
	scrollbar-3dlight-color:#000000; 	스크롤바의 왼쪽과 위쪽 바탕으로 들어가는 색 지정
	scrollbar-darkshadow-color:#000000; 스크롤바의 오른쪽과 밑에 그림자의 색을 지정 */
}
A:link{text-decoration:none;}
A:visited{text-decoration:none;}
A:hover{}

.search_bar{
	padding:90px 0px 5px 2%;
	background-color:#F38983;
	text-align:center;
}
.input_text{
	width:630px; height:55px;
	margin-right:0px;
	opacity:0.5;

	border:none;

	font-size:45px;
	font-family:맑은 고딕;
	font-weight:bold;
	text-transform:uppercase;
}
.option_btn{
	margin-right:0px;
	padding-top:5px;
	opacity:0.5;
}
.enter_btn{
	padding-top:2px;
	margin-left:10px;
	margin-right:10px;
	opacity:0.5;
}
.content{
	width:98%;
	margin:0px 0px 10px 10px;
	background-color:white;
	float:center;
}
.main_content{
	
}
.store_box{
	width:73%;
	margin:10px 0px 20px 17%;
	padding-top:30px;
	
	font-family:맑은 고딕;
	font-size:15px;
}
.store_box_title{
	z-index:100;
	opacity:1;
}
.stores{
	width:95%; height:270px;
	padding:2px 2px 2px 20px;
	background-color:#fafafa;
	border-radius: 30px 0 0 0;
}
.recommend:hover{
	background-color:white;
	opacity:0.6;
}


.result_content{
	padding:20px 30px 10px 200px;
}
.result_img{
	margin:0px 0px 20px 0px;
}
.result_value{
	padding-left:5px;
	
	font-size:70px;
	font-weight:bold;
	font-family:맑은 고딕;
	color:#DD5050;
}
.result_box{
	margin-bottom:20px;
}
.result_stores{
	width:73%; height:180px;
	padding:8px 2px 2px 20px;
	background-color:#fafafa;
	border-radius: 30px 0 0 0;
}
.result_stores_title{
	z-index:100;
	opacity:1;
}
.request_Btn{
	width:80%; height:25px;
	margin:2px 0px 10px 0px;
	text-align:right;
}