@CHARSET "UTF-8";
body{
	margin:0px 0px 0px 0px;
	background-color:#F38983;
}
A:link{text-decoration:none;}
A:visited{text-decoration:none;}
A:hover{}

.content{
	width:98%;
	margin:0px 0px 10px 10px;
	background-color:white;
	float:center;
}
.result{
	
}
.recommend{
	height:180px;
	float:left;
}
.recommend_content{
	float:left; 
	padding:10px 20px 20px 20px;
}
.recommend_title{
	padding-bottom:10px;
	color:#F38983;
	font-size:25px;
	font-family:맑은 고딕;
}
.recommend_category, .recommend_phone, .recommend_address, .recommend_roadAddress{
	color:#7C7475;
	font-family:맑은 고딕;
	font-size:15px;
}
.recommend_address{
	margin-top:10px;
}
.result_content{
	padding:20px 30px 10px 200px;
}
.result_img{
	margin:30px 0px 0px 0px;
}
.result_value{
	padding-left:5px;
	padding-bottom:10px;
	
	font-size:50px;
	font-weight:bold;
	font-family:맑은 고딕;
	color:#DD5050;
}
.resultCount{
	margin-left:760px;
	font-weight:bold;
}
.result_box{
	margin-bottom:20px;
}
.result_stores{
	width:840px; height:180px;
	padding:0px 0px 0px 0px;
	border:solid 2px #F38983;
}
.result_stores_title{
	z-index:100;
	opacity:1;
}
.store_more{
	margin:15px 0px 10px 320px;
}
.request_Btn{
	margin:15px 0px 10px 760px;
}